.mood-element {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1vw;
  justify-content: flex-start;
  padding: 4vw;
}

.mood-element button {
  padding: 1vw 2vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: #2c2c2c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-video-feed {
  width: 20rem;
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 1rem;
}
